section {
    display: flex;
    // flex-direction: column;
    padding: 10%;
  
    .header{
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
  
      .back__btn__container {
        background-image: linear-gradient(to bottom, #fe71fe 0%, #7199ff 100%),
          linear-gradient(to bottom, #fe71fe 100%, #7199ff 100%);
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: 0.0625rem solid #000000;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .logo__container {
        display: flex;
        flex: 1;
        justify-content: center;
      }
    }
  
    .steps__container {
      display: flex;
      gap: 1.875rem;
    }
  
    .step__card {
      background-color: #fff;
      border-radius: .5rem;
      text-align: center;
      padding: 4.25rem 1rem;
      flex: 1;
  
      .number {
        font-size: 3rem;
        color: #2463FF;
        font-weight: 500;
        margin-bottom: 2rem;
      }
  
      .type {
        font-size: 1.25rem;
        color: #261676;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
  
      .description {
        font-size: 1rem;
        color: #887DC0;
      }
  
    }
  }
  